<p id="notice"><%= notice %></p>

<div class="large-10 medium-10 small-12 columns">
<%= render :partial => @posts %>
</div>



<br>

<div class="large-12 medium-12 small-12 columns">
	<%= link_to 'New Post', new_post_path %>
</div>
